input
{
    width: 200px;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    outline: none;
    border: none;
    border-radius: 0;
    margin-bottom: 2em;
}
input::placeholder
{
    color: #212121;
}